.skills__line{
    display: flex;
    flex-direction: row;
}

@media screen and (min-width:0){
    .skills__line{
        font-size: 20px;
        flex-direction: column;
        flex-wrap: nowrap
    }    
};

@media screen and (max-width: 768px){
    .skills__line{
        flex-direction: row;
    }
};